body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #0b1b3f;
}

/* TOPO */
.topo {
    text-align: center;
    padding: 5px;
    background: #203870;
    color: #fff;
}

.logo {
    width: 90px;
    margin-bottom: 10px;
}

/* BANNER */
.banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 30px;
    margin: 5px auto;
    max-width: 1000px;
}

.banner-slides {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.slide.ativo {
    opacity: 1;
}

.banner-gradiente {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(0, 47, 255, 0.856),
        rgba(0, 255, 149, 0.74)
    );
    z-index: 2;
}

.banner-texto {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 0 0 8px rgba(0,0,0,0.7);
}

.banner-texto h2 {
    font-size: 32px;
}

.banner-texto p {
    font-size: 18px;
}

/* SESSÕES */
.secao {
    padding: 30px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 260px;
    padding: 20px;
    border-radius: 20px;
    background: #a9d4fe;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.card .emoji {
    font-size: 40px;
    margin-bottom: 10px;
}

/* TEXTO DO SISTEMA DE PONTOS */
.texto-pontos {
    max-width: 800px;
    margin: auto;
    background: #eef5ff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* QUEM SOMOS */
.quem-somos-box {
    width: 90%;
    max-width: 900px;
    margin: 20px auto 40px;
    background: #a9d4fe;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.quem-somos-box h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #0b1b3f;
}

.quem-somos-box p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
}

/* RODAPÉ */
.rodape {
    text-align: center;
    background: #203870;
    color: white;
    padding: 30px;
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {
    .banner {
        height: 260px;
    }

    .banner-texto h2 {
        font-size: 20px;
    }

    .banner-texto p {
        font-size: 13px;
    }

    .card {
        width: 90%;
    }

    .quem-somos-box {
        padding: 18px;
    }
}
